---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/Hero.astro";
import Card from '../components/Card.astro';
---

<Layout title="IAPP">
 <Navbar />
  <main class="slide-in-top container mx-auto max-w-7xl md:px-6 flex-grow">
    <HeroSection />
  </main>
</Layout>


