---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/Hero.astro";
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
   <Navbar />
  <main class="container mx-auto max-w-7xl px-6 flex-grow">
    <HeroSection />
  </main>
</Layout>


