---
import Softwow from "../../public/image/softwow-desktop.png";
import Card from "../components/Card.astro";
---

<section id="projects" class="flex items-center gap-20 flex-col my-32">
  <h2 class="text-slate-200 text-4xl lg:text-5xl text-center font-semibold">
    Projects
  </h2>

  <div class="grid grid-row-flow sm:grid-cols-2 lg:grid-cols-3 gap-20">
    <Card
      title="Softwow Landing Page"
      body="Modern and functional design to elevate your e-commerce presence.Explore the future of online commerce with Softwow"
      src={Softwow}
      href="https://softwow.com.co/"
      alt="Softwow"
    />
    <Card
      title="Softwow Landing Page"
      body="Modern and functional design to elevate your e-commerce presence.Explore the future of online commerce with Softwow"
      src={Softwow}
      href="https://softwow.com.co/"
      alt="Softwow"
    />
    <Card
      title="Softwow Landing Page"
      body="Modern and functional design to elevate your e-commerce presence.Explore the future of online commerce with Softwow"
      src={Softwow}
      href="https://softwow.com.co/"
      alt="Softwow"
    />
  </div>
</section>
