---
import GridCard from "../react-components/Gridcards";
import Slider from "../react-components/Slider";


const projectsObject = [
  {
    title: "Softwow Landing Page",
    body: "Modern and functional design to elevate your e-commerce presence.Explore the future of online commerce with Softwow",
    src: "image/softwow.webp",
    icon: "icon/external-link.svg",
    href: "https://softwow.com.co/",
    alt: "Softwow",
    tags: [
      {name:"Astro", alt: "Astro", src:"icon/astro.svg" },
      {name:"React", alt: "React", src:"icon/react.svg" },
      {name:"Tailwind", alt: "Tailwind", src:"icon/tailwind.svg" },
    ],
    className:"object-cover"
  },
  {
    title: "MyPets Landing Page",
    body: "",
    src: "image/mypets.webp",
    icon: "icon/external-link.svg",
    href: "https://mypetsplus.netlify.app/",
    alt: "MyPets",
    tags: [
      {name:"Angular", alt: "Angular", src:"icon/angular.svg" },
      {name:"Typescript", alt: "Typescript", src:"icon/ts.svg" },
      {name:"Bootstrap", alt: "Bootstrap", src:"icon/bootstrap.svg" }
    ],
    className:"object-cover"
  },
  {
    title: "Lictic Landing Page",
    body: "",
    src: "image/lictic.webp",
    icon: "icon/external-link.svg",
    href: "https://lictic.netlify.app/",
    alt: "Lictic",
    tags: [
        {name:"Angular", alt: "Angular", src:"icon/angular.svg" },
        {name:"Typescript", alt: "Typescript", src:"icon/ts.svg" },
        {name:"Bootstrap", alt: "Bootstrap", src:"icon/bootstrap.svg" },
      ],
    className:"object-fit"
  },
  {
    title: "Tribu Landing Page",
    body: "",
    src: "image/tribu.webp",
    icon: "icon/external-link.svg",
    href: "https://tribulatam.netlify.app/",
    alt: "Softwow",
    tags: [
      {name:"Angular", alt: "Angular", src:"icon/angular.svg" },
      {name:"Typescript", alt: "Typescript", src:"icon/ts.svg" },
      {name:"Bootstrap", alt: "Bootstrap", src:"icon/bootstrap.svg" },
    ],
    className:"object-fit"
  },
  {
    title: "El Monarca Landing Page",
    body: "",
    src: "image/monarca.webp",
    icon: "icon/external-link.svg",
    href: "https://elmonarcadelosasados.com/",
    alt: "El Monarca",
    tags: [
      {name:"Astro", alt: "Astro", src:"icon/astro.svg" },
      {name:"React", alt: "React", src:"icon/react.svg" },
      {name:"Tailwind", alt: "Tailwind", src:"icon/tailwind.svg" },
    ],
    className:"object-cover"
  },
  {
    title: "Rolando Torrado LMS",
    body: "",
    src: "image/rolando.webp",
    icon: "icon/external-link.svg",
    href: "https://rolandotorrado.com/",
    alt: "Rolando Torrado LMS",
    tags: [
      {name:"WordPress", alt: "WordPress", src:"icon/wordpress.svg" },
      {name:"Woocommerce", alt: "Woocommerce", src:"icon/woocommerce.svg" },
      {name:"CSS", alt: "CSS", src:"icon/css.svg" },
    ],
    className:"object-cover"
  },
  {
    title: "Adriana Contreras Ecommerce",
    body: "",
    src: "image/adriana.webp",
    icon: "icon/external-link.svg",
    href: "https://adrianacontreras.co/",
    alt: "Adriana Contreras Ecommerce",
    tags: [
      {name:"WordPress", alt: "WordPress", src:"icon/wordpress.svg" },
      {name:"Woocommerce", alt: "Woocommerce", src:"icon/woocommerce.svg" },
      {name:"CSS", alt: "CSS", src:"icon/css.svg" },
    ],
    className:"object-cover"
  },
];

---

<section id="projects" class="flex items-center gap-20 flex-col pt-32 pb-20">
  <h2 class="text-slate-200 text-4xl lg:text-5xl text-center font-semibold">
    Projects
  </h2>
  <div class="hidden md:flex">
    <GridCard client:visible projectsObject={projectsObject}  />
  </div>
<div class="w-full flex md:hidden">
  <Slider client:visible projectsObject={projectsObject} />
</div>

</section>
