---
import Tabs from "../react-components/Tabs.jsx";

const picturesObject = {
  Frameworks: [
    { src: "icon/angular.svg", alt: "Angular", label: "Angular" },
    { src: "icon/astro.svg", alt: "Astro", label: "Astro" },
    { src: "icon/react.svg", alt: "React", label: "React" },
    { src: "icon/ionic.svg", alt: "Ionic", label: "Ionic" },
    { src: "icon/nodejs.svg", alt: "NodeJS", label: "NodeJS" },
    { src: "icon/bootstrap.svg", alt: "NodeJS", label: "Bootstrap" },
    { src: "icon/tailwind.svg", alt: "Tailwind", label: "Tailwind" },
  ],
  Languages: [
    { src: "icon/js.svg", alt: "JavaScript", label: "JavaScript" },
    { src: "icon/ts.svg", alt: "TypeScript", label: "TypeScript" },
    { src: "icon/html.svg", alt: "HTML", label: "HTML" },
    { src: "icon/css.svg", alt: "CSS", label: "CSS" },
    { src: "icon/php.svg", alt: "PHP", label: "PHP" },
  ],
  Skills: [
    { src: "icon/uxui.svg", alt: "UX/UI", label: "UX/UI" },
    { src: "icon/figma.svg", alt: "Figma", label: "Figma" },
    { src: "icon/xd.svg", alt: "Adobe XD", label: "Adobe XD" },
    {
      src: "icon/ai.svg",
      alt: "Adobe Illustrator",
      label: "Illustrator",
    },
    { src: "icon/wordpress.svg", alt: "WordPress", label: "WordPress" },
    { src: "icon/shopify.svg", alt: "Shopify", label: "Shopify" },
    {
      src: "icon/woocommerce.svg",
      alt: "Woocommerce",
      label: "Woocommerce",
    },
  ],
  "Soft Skills": [
    { src: "icon/pm.svg", alt: "Leading", label: "Leading" },
  ],
};
---

<!-- Skills.astro -->
<section id="skills" class="flex gap-20 flex-col pt-32 w-5/6 mx-auto">
  <h2 class="text-slate-200 text-4xl lg:text-5xl text-center font-semibold">
    Skills
  </h2>
  <div class="flex justify-center">
      <Tabs client:visible picturesObject={picturesObject} />
  </div>

</section>
